/* positioning styles */
.common{
    position: absolute;
    border: 5px solid black;
    background-color: beige;
 }
 .bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-style: italic;
    font-size: small;
    background-color: lightgray;
 }
 .top{
   top: 0px;
   left: 0px;
   right: 0px;
   text-align: center;
 }
 .content{
    top: 100px;
    left: 0px;
    right: 0px;
    height: 100%;
 }
.nav{
    position: relative;
    float: right;    
}